<div>
  <div class="section1">
  <img src="../../assets/main_page_img/bg01.png" style="width:100%;" alt="" srcset="">
  <div class="row">
      <div class="col-md-7">
        <div class="maintext">
        Text To Speech
        <div class="subtext">
          เปลี่ยนข้อความเป็นเสียง
        </div>
        <div class="subtext2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum dignissimos aliquid eos quos, aperiam voluptatibus similique sed odit, harum unde minima praesentium sit ipsa recusandae iste cumque repellendus eius rerum?
        </div>
      </div>

      </div>
      <div class="col-md-5">
        <div class="d_img">
          <img src="../../assets/main_page_img/dummy_img.png" alt="" srcset="">
        </div>
        </div>
  </div>


</div>

</div>
